/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css
/public/js
/public/images
/public/mix-manifest.json
package-lock.json
_lighthouse_ide_helper.php
programmatic-types.graphql
schema-directives.graphql
.idea
debug.log
/public/docs
/resources/docs
